include ../title/title
include ../article/article 

mixin content()
	+b.content&attributes(attributes)
		+e.article-top
			+title Herzlich Willkommen beim Ehrenathetzwerk Schleswig-Holstein!
			+article
				.row
					.col-sm-4
						+e.IMG.image(src="assets/images/article-1.jpg" alt="Picture")

					.col-sm-8
						+e.P.text Das Enrenathelzwerk Scn1esw1g Hmstem Mamet nm derun1ers1u1zung des Sozlzlmmslenums erneu1 meEnrenannMessen SchleswgeHmslem aus Unterdem Mano „Mnemznaervuelrzn Leben ” vmden von Februar ms Apru unterder Scmrmnerrscnan van soz1a1m1ms1erm Krlstm Amen 1anaeswe11 12 Veranstauungen1ur1rr1eress1er1e Eurgennnenund Burger s1an more
			+e.A.btn(href="#") Button

		+e.articles-list

			+title Aktuelles

			+article.content__item
				.row
					.col-xs-12
						+e.H3.title Gemelnde

					.col-sm-4
						+e.image-wrap
							+e.IMG.image(src="assets/images/article-2.jpg" alt="Picture")
						+e.SPAN.date 04.02.2016

					.col-sm-8
						+e.P.text Das Enrenathelzwerk Scn1esw1g Hmstem Mamet nm derun1ers1u1zung des Sozlzlmmslenums erneu1 meEnrenannMessen SchleswgeHmslem aus Unterdem Mano „Mnemznaervuelrzn Leben ” vmden von Februar ms Apru unterder Scmrmnerrscnan van soz1a1m1ms1erm Krlstm Amen 1anaeswe11 12 Veranstauungen1ur1rr1eress1er1e Eurgennnenund Burger s1an more
							+e.A.btn-inline(href="#") more..

			+article.content__item
				.row
					.col-xs-12
						+e.H3.title Mono der Ehrenathessen SH 2015 stennesv

					.col-sm-4
						+e.IMG.image(src="assets/images/article-3.jpg" alt="Picture")
						+e.SPAN.date 04.02.2016

					.col-sm-8
						+e.P.text Das Enrenathelzwerk Scn1esw1g Hmstem Mamet nm derun1ers1u1zung des Sozlzlmmslenums erneu1 meEnrenannMessen SchleswgeHmslem aus Unterdem Mano „Mnemznaervuelrzn Leben ” vmden von Februar ms Apru unterder Scmrmnerrscnan van soz1a1m1ms1erm Krlstm Amen 1anaeswe11 12 Veranstauungen1ur1rr1eress1er1e Eurgennnenund Burger s1an more
							+e.A.btn-inline(href="#") more..

			+article.content__item
				.row
					.col-xs-12
						+e.H3.title Mono der Ehrenathessen SH 2015 stennesrv

					.col-sm-4
						+e.IMG.image(src="assets/images/article-4.jpg" alt="Picture")
						+e.SPAN.date 04.02.2016

					.col-sm-8
						+e.P.text Das Enrenathelzwerk Scn1esw1g Hmstem Mamet nm derun1ers1u1zung des Sozlzlmmslenums erneu1 meEnrenannMessen SchleswgeHmslem aus Unterdem Mano „Mnemznaervuelrzn Leben ” vmden von Februar ms Apru unterder Scmrmnerrscnan van soz1a1m1ms1erm Krlstm Amen 1anaeswe11 12 Veranstauungen1ur1rr1eress1er1e Eurgennnenund Burger s1an more
							+e.A.btn-inline(href="#") more...

			+e.A.btn(href="#") Button
