.clearfix
    clearfix()

rupture.scale = 0 771px 992px 1170px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

$color = #2196f3
$button-radius = 30px
$button-line-height = 2px
$burger-width = 0.5 * $button-radius
$burger-gutter = 6px
$color-second = #fff
