mixin slider-top()
	+b.slider-top&attributes(attributes).owl-carousel
		+e.item(style="background-image:url(assets/images/slide-2.png)")
			//- +e.image-wrap
			//- 	+e.image(src="assets/images/slide-2.png")
			+e.header-wrap
				+e.header
					+e.H1.title Ehrenamtmessen 2016
					+e.SPAN.disc Miteinander, VieIfaIt, Leben
				+e.btn-wrap
					+e.A.btn(href="#") text button

		+e.item(style="background-image:url(assets/images/slide-1.png)")
			//- +e.image-wrap
			//- 	+e.image(src="assets/images/slide-2.png")
			+e.header-wrap_odd
				+e.header
					+e.H1.title Ehrenamtmessen 2016
					+e.SPAN.disc Miteinander, VieIfaIt, Leben
				+e.btn-wrap
					+e.A.btn(href="#") text button

		+e.item(style="background-image:url(assets/images/slide-3.png)")
			//- +e.image-wrap
			//- 	+e.image(src="assets/images/slide-2.png")
			+e.header-wrap
				+e.header
					+e.H1.title Ehrenamtmessen 2016
					+e.SPAN.disc Miteinander, VieIfaIt, Leben
				+e.btn-wrap
					+e.A.btn(href="#") text button
