
.header
	padding-top 23px
	position relative


	&__nav
		margin-bottom 10px

		+below('xs')
			height 30px
			position absolute
			top 0
			left 0
			width 100%
			background-color #000

			&_open
				.main-nav__list
					left 0
					right 0
					top 30px
